{% extends 'base.html.twig' %}

{% block title %}{{ site_name_full }} : modification de {{ page.titre }}{% endblock %}

{% block body %}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container">
            <h2>Administration du site</h2>
        </div>
    </section>
    <!-- End Breadcrumbs -->

    <section class="inner-page">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col">
                    <h2>Modifier la page</h2>

                    {{ include('page/_form.html.twig', {'button_label': 'Modifier la page'}) }}

                    {{ include('page/_delete_form.html.twig') }}
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}