<form method="post" action="{{ path('newsletter_delete', {'id': newsletter.id}) }}" onsubmit="return confirm('Etes-vous certain de voiulor supprimer cette lettre d\'info ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ newsletter.id) }}">
    <button class="btn btn-sm btn-danger">Supprimer</button>
</form>
