{% extends 'base.html.twig' %}

{% block title %}{{ site_name_full }} : liste des lettres d'infos{% endblock %}

{% block body %}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container">
            <h2>Administration du site</h2>
        </div>
    </section>
    <!-- End Breadcrumbs -->

    <section class="inner-page">
        <div class="container">
            <h2 class="text-center fw-bold card py-2 mb-4">Créer une lettre d'infos</h2>
            <div class="row d-flex justify-content-center">
                <div class="col">

                    {{ include('newsletter/_form.html.twig') }}


                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}