<form method="post" action="{{ path('abonne_delete', {'id': abonne.id}) }}" onsubmit="return confirm('Etes-vous certain de vouloir supprimer cet abonné ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ abonne.id) }}">
    <button class="btn btn-sm btn-danger">Supprimer</button>
</form>
