<form method="post" action="{{ path('activite_delete', {'id': activite.id}) }}" onsubmit="return confirm('Etes-vous certain de vouloir supprimer cette activité ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ activite.id) }}">
    <button class="btn btn-sm btn-danger">Supprimer</button>
</form>
