{% extends 'base.html.twig' %}

{% block title %}{{ site_name_full }} : créer une nouvelle catégorie{% endblock %}

{% block body %}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section class="breadcrumbs">
        <div class="container">
            <h2>Administration du site</h2>
        </div>
    </section>
    <!-- End Breadcrumbs -->

    <section class="inner-page">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col">
                    <h2>Créer une nouvelle catégorie</h2>

                    {{ include('categorie/_form.html.twig') }}

                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}